body{
  background-image: url("./assets/Fondo_Universo.jpeg");
  background-size: contain;
}
/* Inicio estilos homePage */
.ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  text-transform: uppercase;
}
ul.ul{
  padding-left: 0%;
}
ul:hover{
  cursor: pointer;
}
.container_start{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.container_start img{
  width: 310px;
  height: 310px;
  border-radius: 100%;
  margin: 10px;
}
.link{
  color: white; 
  font-weight: bold;
  font-size:small;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}
.link:hover{
  color: coral;
}
/* Estilos CharacterPage */
.title{
  background-image: url("./assets/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 100px;
  margin: auto;
}
.container_form{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.input{
  padding: 3px;
  margin: 5px;
  width: 130px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  box-shadow: 0 0 10px coral, inset 0 0 10px coral;
  color: white;
}
.input::placeholder{
  color: white;
}
.select{
  padding: 3px;
  margin: 5px;
  width: 140px;
  border-radius: 5px;
  border: 2px solid white; 
  background-color: transparent;
  box-shadow: 0 0 10px coral, inset 0 0 10px coral;
  color: white;
}
.select:hover{
  color: coral;
  cursor: pointer;
}
.select option{
  background-color:rgb(172, 207, 110);
  color: white;
}
.select option:checked{
  background-color: coral
}
.container_card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}
.card{
  width: 250px;
  height: 390px;
  background-image: url("./assets/Fondo_Tarjeta.jpg");
  background-size:contain;
  border-radius: 20px;
  border: 2px solid white;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: large;
}
.card img{
  width: 100%;
  border-radius: 10px;
}
.card h2{
  text-align: center;
  font-size: 20px;
}
.container_page{
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.button{
  padding: 3px;
  margin: 5px;
  width: 80px;
  border-radius: 5px;
  border: 2px solid white; 
  background-color: transparent;
  box-shadow: 0 0 10px gold;
  color: white;
}
.button:hover{
  color:burlywood;
  cursor: pointer;
}
/* Estilos EpisodesPage */
.container_card2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  padding: 10px;
}
.card2{
  width: 250px;
  height: 200px;
  background-image: url("./assets/Fondo_Episodio2.png");
  background-size: contain;
  background-position: center;
  border-radius: 20px;
  border: 2px solid white;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: large;
  font-weight: bold;
  color: white;
}
.card2 h2{
  text-align: center;
  font-size: 20px;
}
@media (max-width: 700px){
  .container_form{
    display:flow-root;
  }
}